{% extends 'base.html.twig' %}

{% block title %}Listado de usuarios{% endblock %}

{% block body %}
    <h2>Listado de usuarios</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Roles</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.nombre }}</td>
                <td>{{ user.apellidos }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telefono }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                     <a href="{{ path('app_user_edit', {'id': user.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">No hay usuarios para mostrar</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
