{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
    <h2>Usuario {{ user.nombre }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ user.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidos</th>
                <td>{{ user.apellidos }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ user.telefono }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>


        </tbody>
    </table>

    <a href="{{ path('app_user_edit_profile', {'id': user.id}) }}">Editar</a>



{% endblock %}
